body {
  margin: 0px;
}

h1 {
  background-color: #262C3A;
  color: #fff;
  font-family: Merriweather;
  margin: 0px 0px 20px;
  padding-left: 10px;
}

main {
  font-family: Lato;
  margin: 10px;
}

p {
  min-width: 200px;
}

.data-input-div {
  align-items: center;
  display: flex;
  font-weight: 300;
  max-height: 30px;
}

.meal-input, .calorie-input, .date-input, .add-meal-button, .list-meals-button {
  font-family: Lato;
  display: block;
  margin: 20px 0px 20px;
}

.meal-input, .calorie-input, .date-input {
  min-width: 200px;
}

.buttons-pane {
  display: flex;
  flex-direction: horizontal;
}

.add-meal-button, .list-meals-button {
  background-color: #FEE202;
  border-color: #FBCB15;
  border-radius: 6px;
  border-width: 0.5px;
  color: #262C3A;
  margin-right: 40px;
  min-height: 30px;
  min-width: 80px;
}

.add-meal-button:focus, .list-meals-button:focus {
  outline: none;
}

.meal-history {
  display: flex;
  flex-direction: row;
}

.meal-list-name, .meal-list-calories, .meal-list-date {
  background-color: #262C3A;
  color: #fff;
  font-weight: bold;
  min-width: 200px;
}

.meal-list-item-name, .meal-list-item-calories, .meal-list-item-date {
  background-color: #fff;
  color: #262C3A;
  font-weight: normal;
}
